<!DOCTYPE html>

<html lang="en">
<head>
	<meta charset="utf-8">
	<title>Cancer Ebook - Dashboard</title>
	
	<!-- Stylesheets -->
	<link rel="stylesheet" href="{URL-BASE}css/style.css">
	<!-- <link href='http://fonts.googleapis.com/css?family=Droid+Sans:400,700' rel='stylesheet'> -->
	<link rel="Shortcut Icon" href="{URL-BASE}img/favicon.ico">
	<link rel="icon" href="{URL-BASE}img/favicon.ico" type="image/x-icon">
	<link rel="stylesheet" href="{URL-BASE}themes/base/jquery.ui.all.css">
	<!-- JS -->
	<!--<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
	<script src="{URL-BASE}js/functions.js"></script>
	<script src="{URL-BASE}js/dashboard-uprofile.js"></script>
	<script src="{URL-BASE}js/jquery.jeditable.js"></script>
	<script src="{URL-BASE}js/ui/jquery.ui.core.js"></script>
	<script src="{URL-BASE}js/ui/jquery.ui.widget.js"></script>
	<script src="{URL-BASE}js/ui/jquery.ui.mouse.js"></script>
	<script src="{URL-BASE}js/ui/jquery.ui.sortable.js"></script>
	<script src="{URL-BASE}js/dashboard-arrsections.js"></script>
	<script src="{URL-BASE}js/ui/jquery.ui.position.js"></script>
	<script src="{URL-BASE}js/ui/jquery.ui.autocomplete.js"></script>
	<script src="{URL-BASE}js/dashboard-assignsections.js"></script>
	<script src="{URL-BASE}js/jquery.longclick.js"></script>
	<script src="{URL-BASE}js/dashboard-manageusers.js"></script>-->
	{JS-AREA-HERE}
</head>
<body>

	<!-- Start of StatCounter Code for Default Guide -->
	<script type="text/javascript">
	var sc_project=8564864; 
	var sc_invisible=1; 
	var sc_security="6e08cc7e"; 
	var scJsHost = (("https:" == document.location.protocol) ?
	"https://secure." : "http://www.");
	document.write("<sc"+"ript type='text/javascript' src='" +
	scJsHost+
	"statcounter.com/counter/counter.js'></"+"script>");
	</script>
	<noscript><div class="statcounter"><a title="free hit
	counters" href="http://statcounter.com/"
	target="_blank"><img class="statcounter"
	src="http://c.statcounter.com/8564864/0/6e08cc7e/1/"
	alt="free hit counters"></a></div></noscript>
	<!-- End of StatCounter Code for Default Guide -->

	<div id="wrapper">
	<div id="bg-wrapper"></div>

	<div id="top-bar" >
		
		{TOP-BAR-HERE}
						
	</div> <!-- end top-bar -->
	
	
	
	<div id="header">
		<div class="page-full-width cf">
	    		{USER-INFO-HERE}
		
			<div id="login-intro" class="fl">
				<div class="text-upper">The Cubocube Project</div>
				<h3>Social Platform for Collaborative Learning</h3>
			</div>
		
			<!-- <a href="#" id="logo" class="fr" ><img src="" alt="Logo" /></a> -->

		</div>
		
	</div> <!-- end header -->
	
	
	<div id="content">
	    <div class="page-full-width cf">
		    {REGISTER-FORM-HERE}
	    </div>
    </div> <!-- end content -->

    	<div id="push"></div>

	</div> <!-- end wrapper -->
	
	
	
	
	<div id="normal-footer">
		<p><a href="index.php">CuboCube</a> software is open-source. The source code is available at our public <a href="https://github.com/cubocube?tab=repositories">Github repository</a>.</p>	
		<p><a href="contactus.php">Contact us</a></p>
	</div> <!-- end footer -->
	

</body>
</html>
