<!DOCTYPE html>

<html lang="en">
<head>
	<meta charset="utf-8">
	<title>CuboCube - The Free Social Knowledgebase</title>
	
	<!-- Stylesheets -->
	<link rel="stylesheet" href="{URL-BASE}css/style.css">
	<link href='http://fonts.googleapis.com/css?family=Droid+Sans:400,700' rel='stylesheet'>
	<link rel="Shortcut Icon" href="{URL-BASE}img/favicon.ico">
	<link rel="icon" href="{URL-BASE}img/favicon.ico" type="image/x-icon">
	
	<!-- JS -->
	<!-- <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
	<script src="{URL-BASE}js/functions.js"></script>
	<script src="{URL-BASE}js/homepage.js"></script>
	<script src="{URL-BASE}js/register.js"></script> -->
	{JS-AREA-HERE}
</head>
<body>

	<!-- Start of StatCounter Code for Default Guide -->
	<script type="text/javascript">
	var sc_project=8564864; 
	var sc_invisible=1; 
	var sc_security="6e08cc7e"; 
	var scJsHost = (("https:" == document.location.protocol) ?
	"https://secure." : "http://www.");
	document.write("<sc"+"ript type='text/javascript' src='" +
	scJsHost+
	"statcounter.com/counter/counter.js'></"+"script>");
	</script>
	<noscript><div class="statcounter"><a title="free hit
	counters" href="http://statcounter.com/"
	target="_blank"><img class="statcounter"
	src="http://c.statcounter.com/8564864/0/6e08cc7e/1/"
	alt="free hit counters"></a></div></noscript>
	<!-- End of StatCounter Code for Default Guide -->

	<div id="wrapper">
	<div id="bg-wrapper"></div>

	<div id="top-bar" >
		{TOP-BAR-HERE}				
	</div> <!-- end top-bar -->
	
	
	
	
	<!-- MAIN CONTENT -->
	<div id="content">
			
		{REGISTER-FORM-HERE}
		
<!--
 		<form action="" method="post" id="register-form">

			<fieldset>
				<h1>Register for an account</h1>
				<p>
					<label  for="register-username">Username</label>
					<input type="text" id="register-username" name="username" class="round full-size-input" autofocus />
				</p>

				<p>
					<label  for="register-password">Password</label>
					<input type="password" id="register-password" name="password" class="round full-size-input" />
				</p>

				<p>
					<label  for="register-email">Email</label>
					<input type="text" id="register-email" name="email" class="round full-size-input" />
				</p>

				<input type="submit" value="Submit" class="button round orange text-upper image-right ic-right-arrow" id="btn-register"/>

				<p>
					<div class="error-box round" id="email-error">Invalid email address.</div>
				</p>		

				<p>
					<div class="error-box round" id="username-error">Invalid username. Your username should be between 4 to 20 characters.</div>
				</p>

				<p>
					<div class="error-box round" id="password-error">Invalid password. Your password should be between 4 to 20 characters.</div>
				</p>
				
				<p>
					<div class="information-box round" id="registration-response">Once you fill out the form, you will receive a confirmation email.</div>
				</p>
                
                <p>
					<div class="error-box round" id="registration-response-error">Error.</div>
				</p>
                    
			</fieldset>

		</form> -->

	</div> <!-- end content -->

	<div id="push"></div>

	</div> <!-- end wrapper -->
	
	
	
	<div id="normal-footer">
	
		<p>CuboCube software is open-source. The source code is available at our public <a href="https://github.com/cubocube?tab=repositories">Github repository</a>.</p>	
		<p>&copy; Copyright 2013 <a href="index.php">CuboCube</a>. <a href="contactus.php">Contact us.</a></p>
	
	</div> <!-- end footer -->
	
	

</body>
</html>
